@font-face {
    font-family: 'iconfont';  /* project id 171938 */
    src: url('//at.alicdn.com/t/font_171938_9wolo4ht8q.eot');
    src: url('//at.alicdn.com/t/font_171938_9wolo4ht8q.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_171938_9wolo4ht8q.woff') format('woff'),
    url('//at.alicdn.com/t/font_171938_9wolo4ht8q.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_171938_9wolo4ht8q.svg#iconfont') format('svg');
}
.fa,[class*=" fa-"],[class^=fa-]{font-family:iconfont!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.fa-triangle-down:before{content:"\e768"}
.fa-location-city:before{content:"\e81d"}

.fa-gender-other:before{content:"\e765"}
.fa-gender-male:before{content:"\e766"}
.fa-gender-female:before{content:"\e764"}
.fa-edit-pen:before{content:"\e767"}
.fa-workspace-common-deal-comment:before{content:"\e663"}
.fa-workspace-add:before{content:"\e683"}
.fa-workspace-remove:before{content:"\e645"}

.fa-spread-cover-range:before{content:"\e6ea"} 
.fa-spread-key-point:before{content:"\e6eb"}
.fa-workspace-entrance:before{content:"\e763"}
.fa-workspace-dealing:before{content:"\e661"}
.fa-backend-stop:before{content:"\e755"}
.fa-push-setting:before{content:"\e762"}
.fa-analysis-comment:before{content:"\e761"}

.fa-re-analysis:before{content:"\e75f"}
.fa-analysis-waiting:before{content:"\e760"}
.fa-analysising-state:before{content:"\e75e"}

.fa-loading-panel:before{content:"\e752"}

.fa-fullScreen-panel:before{content:"\e751"}
.fa-backScreen-panel:before{content:"\e750"}

.fa-refresh-panel:before{content:"\e769"}

.fa-download-analysis:before{content:"\e74e"}
.fa-view-analysis:before{content:"\e74b"}
.fa-verifying-state:before{content:"\e757"}
.fa-delete-analysis:before{content:"\e74c"}
.fa-distributed-analysis:before{content:"\e74a"}

.fa-rival-analysis-tag:before{content:"\e749"}

.fa-rival-analysis-tag:before{content:"\e743"}

.fa-arrow-single-down:before{content:"\e746"}

.fa-folder-close:before{content:"\e744"}
.fa-level-setting:before{content:"\e753"}
.fa-category-setting:before{content:"\e754"}
.fa-send-group-setting:before{content:"\e756"}
.fa-trend-up:before{content:"\e790"}
.fa-trend-down:before{content:"\e748"}
.fa-clock-o:before{content:"\e75a"}
.fa-fans-ranking:before{content:"\e747"}

.fa-no-message:before{content:"\e743"}

.fa-emotion-angry:before{content:"\e740"}
.fa-emotion-sad:before{content:"\e73f"}
.fa-emotion-middle:before{content:"\e73c"}
.fa-emotion-surprise:before{content:"\e73b"}
.fa-emotion-fear:before{content:"\e73a"}
.fa-emotion-happy:before{content:"\e734"}

.fa-short-link:before{content:"\e742"}

.fa-time-range:before{content:"\e735"}
.fa-essay-order:before{content:"\ea18"}
.fa-origin-website:before{content:"\e7ae"}
.fa-origin-type:before{content:"\e736"}
.fa-same-article:before{content:"\e732"}
.fa-sensitive-property:before{content:"\e738"}
.fa-resend-weibo:before{content:"\e731"}


.fa-subscribe-star:before{content:"\e730"}

.fa-user-icon:before{content:"\e722"}
.fa-mobile-app:before{content:"\e689"}
.fa-mobile-app-apple:before{content:"\e729"}
.fa-mobile-app-android:before{content:"\e72a"}
.fa-user-logout:before{content:"\e728"}

.fa-common-question:before{content:"\e72b"}
.fa-service:before{content:"\e72e"}
.fa-detect-trend:before{content:"\e727"}

.fa-repeat-warning:before{content:"\e8ee"}
.fa-warning-over:before{content:"\e707"}
.fa-download-btn:before{content:"\e725"}

.fa-follow-me:before{content:"\e703"}
.fa-follow-me-over:before{content:"\e704"}

.fa-custom-screen:before{content:"\e702"}
.fa-data-screen:before{content:"\e701"}

.fa-check-detail:before{content:"\e72d"}
.fa-setting-sensitive:before{content:"\e726"}

.fa-industry-checked:before{content:"\e6ff"}
.fa-weibo-send:before{content:"\e6ed"}
.fa-weibo-comment:before{content:"\e70a"}
.fa-weibo-read:before{content:"\e6ec"}
.fa-weibo-like:before{content:"\e724"}
.fa-weibo-fans:before{content:"\e708"}
.fa-weibo-analysis:before{content:"\e6ee"}
.fa-weibo-user-monitor:before{content:"\e6df"}

.fa-new-capture:before{content:"\e6dc"}
.fa-unsensitive-tag:before{content:"\e6e8"}
.fa-sensitive-tag:before{content:"\e6e7"}

.fa-warning-bell:before{content:"\e6e4"}
.fa-addr-list:before{content:"\e6e2"}
.fa-send-recorder:before{content:"\e6e1"}
.fa-hotkey-manage:before{content:"\e6e0"}
.fa-preference:before{content:"\e6e3"}
.fa-sys-update:before{content:"\e6e5"}
.fa-day-log:before{content:"\e6e6"}

.fa-icon-tag:before{content:"\e6d7"}
.fa-upload-setting:before{content:"\e6d4"}
.fa-add-keyword:before{content:"\e6d9"}
.fa-nav-angle-down:before{content:"\e6d3"}
.fa-pull-panel-up:before{content:"\e619"}
.fa-system-notify:before {content: "\e6d1"}
.fa-yq-summary:before {content: "\e6cf"}
.fa-hot-info:before {content: "\e6cd"}
.fa-send-warning:before {content: "\e6cc"}
.fa-sensitive-news:before {content: "\e712"}
.fa-24-hours-news:before {content: "\e6ce"}
.fa-yq-summary-title-name:before {content: "\e6d8"}
.fa-secure-show-error:before {content: "\e6ca"}
.fa-desc-index-setting:before {content: "\e6c7"}
.fa-blocking-selected:before {content: "\e6c6"}
.fa-blocking-name:before {content: "\e6d0"}
.fa-yq-monitor:before {content: "\e7c3"}
.fa-index-yq:before {content: "\e6c2"}
.fa-index-summary:before {content: "\e6c0"}

.fa-time-order:before {content: "\e6bf"}
.fa-monitor-plan:before{content:"\e6bd"}
.fa-icon-tips:before{content:"\e6b9"}
.fa-icon-heart:before{content:"\e6b3"}
.fa-page-arrow-right:before{content:"\e6b2"}
.fa-page-arrow-left:before{content:"\e6b0"}
.fa-icon-trash:before{content:"\e6af"}
.fa-icon-circle-small:before{content:"\e642"}
.fa-origin-link:before{content:"\e6b5"}
.fa-spread:before{content:"\e697"}
.fa-spread-origin:before{content:"\e69d"}
.fa-read-over:before{content:"\e6b6"}
.fa-unread:before{content:"\e6b8"}
.fa-sensitive:before{content:"\e739"}
.fa-unsensitive:before{content:"\e644"}
.fa-line-down:before{content:"\e678"}
.fa-search:before{content:"\e6a7"}
.fa-triangle:before{content:"\e7d8"}
.fa-import-list-close:before{content:"\e624"}
.fa-import-list-attach:before{content:"\e61f"}
.fa-import-list-email:before{content:"\e64b"}
.fa-import-list-wechat:before{content:"\e659"}
.fa-cstm-validate:before{content:"\e6b7"}
.fa-main-edit-right:before{content:"\e6a3"}
.fa-login-cstm-forget:before{content:"\e677"}
.fa-login-cstm-user:before{content:"\e667"}
.fa-login-cstm-password:before{content:"\e63e"}
.fa-app-gruop:before{content:"\e69a"}
.fa-app-gruop-user:before{content:"\e69e"}
.fa-app-gruop-dpt:before{content:"\e6de"}
.fa-report-lib:before{content:"\e684"}
.fa-report-old:before{content:"\e67d"}
.fa-report-collection:before{content:"\e693"}
.fa-report-observe:before{content:"\e6dd"}
.fa-report-base:before{content:"\e691"}
.fa-report-tmpl:before{content:"\e68f"}
.fa-user-unit:before{content:"\e686"}
.fa-user-web:before{content:"\e687"}
.fa-user-app:before{content:"\e68a"}
.fa-user-delegate:before{content:"\e944"}
.fa-user-actor:before{content:"\e7c2"}
.fa-nls-global:before{content:"\e67a"}
.fa-nls-wb:before{content:"\e67b"}
.fa-nls-vs:before{content:"\e6cb"}
.fa-nls-wb-godown:before{content:"\e695"}
.fa-info-reader:before{content:"\e675"}
.fa-info-show:before{content:"\e674"}
.fa-info-calculate:before{content:"\e671"}
.fa-info-monitor:before{content:"\e72f"}
.fa-info-gather:before{content:"\e676"}
.fa-import_all:before{content:"\e66d"}
.fa-import:before{content:"\e618"}
.fa-send-qq:before{content:"\e66b"}
.fa-send-method:before{content:"\e66c"}
.fa-cover:before{content:"\e668"}
.fa-entrance:before{content:"\e60b"}
.fa-tongji-8:before{content:"\e607"}
.fa-tongji-7:before{content:"\e606"}
.fa-tongji-6:before{content:"\e605"}
.fa-tongji-5:before{content:"\e604"}
.fa-tongji-4:before{content:"\e603"}
.fa-tongji-3:before{content:"\e602"}
.fa-tongji-1:before{content:"\e600"}
.fa-tongji-2:before{content:"\e601"}
.fa-word-o:before{content:"\e610"}
.fa-word:before{content:"\e610"}
.fa-text-o:before{content:"\e609"}
.fa-text:before{content:"\e609"}
.fa-icon-phone:before{content:"\e60f"}
.fa-pdf-o:before{content:"\e60e"}
.fa-pdf:before{content:"\e60e"}
.fa-mail:before{content:"\e60d"}
.fa-excl-o:before{content:"\e60c"}
.fa-excel:before{content:"\e60c"}
.fa-chart:before{content:"\e60a"}
.fa-vs:before{content:"\e612"}
.fa-baogao:before{content:"\e611"}
.fa-wenhao:before{content:"\e608"}
.fa-fuzhi:before{content:"\e613"}
.fa-plus:before{content:"\e6ad"}
.fa-minus:before{content:"\e6ac"}
.fa-jia:before{content:"\e614"}
.fa-jian:before{content:"\e615"}
.fa-location:before{content:"\e61a"}
.fa-arrow-up:before{content:"\e619"}
.fa-arrow-down:before{content:"\e69f"}
.fa-filter-arrow-down:before{content:"\e654"}
.fa-bubble-hint:before{content:"\e62d"}
.fa-dialog-arrow:before{content:"\e6a1"}
.fa-warning-record:before{content:"\e61b"}
.fa-checked-mark:before{content:"\e64d"}
.fa-help:before{content:"\e63f"}
.fa-conduct:before{content:"\e680"}
.fa-change:before{content:"\e62b"}
.fa-shake:before{content:"\e63a"}
.fa-trash:before{content:"\e61e"}
.fa-close-mark:before{content:"\e62a"}
.fa-keywords-mark:before{content:"\e635"}
.fa-pdf-icon:before{content:"\e651"}
.fa-word-icon:before{content:"\e656"}
.fa-send-link-origin:before{content:"\e652"}
.fa-send-link:before{content:"\e647"}
.fa-tag-sensitivity:before{content:"\e637"}
.fa-tag-non-sensitivity:before{content:"\e633"}
.fa-icon-circle:before{content:"\e630"}
.fa-icon-unread:before{content:"\e644"}
.fa-icon-more:before{content:"\e643"}
.fa-icon-read:before{content:"\e63b"}
.fa-weibo-logo:before{content:"\e672"}
.fa-weibo-enlarge:before{content:"\e648"}
.fa-warning-mail:before{content:"\e650"}
.fa-warning-client:before{content:"\e64c"}
.fa-warning-pc:before{content:"\e649"}
.fa-warning-wechat:before{content:"\e64e"}
.fa-phone:before {content: "\e60f"}
.fa-15{font-size:15px}
.fa-18{font-size:18px}
.fa-20{font-size:14px}
.fa-21{font-size:21px}
.fa-23{font-size:23px}
.fa-yel{color:#cc6500}
.fc-1{color:#EE8B8B}
.fc-2{color:#408EEE}
.fc-3{color:#F49F58}
.fc-4{color:#959595}
.fc-5{color:#31C73D}
.fc-6{color:#43BAD0}
.fc-7{color:#7589F0}